creditcard.csv
spam.csv
test.py
/enron
/temp
results.txt
/checkpoint
/checkpoints/checkpoint
/checkpoints/sentiment.ckpt.data-00000-of-00001
/checkpoints/sentiment.ckpt.index
/checkpoints/sentiment.ckpt.meta
*.jpg\n*.jpeg\n*.png\n*.gif\n