csv_files/creditcard.csv
csv_files/spam.csv
/enron
/data
/temp
/checkpoint
/checkpoints/checkpoint
/checkpoints/sentiment.ckpt.data-00000-of-00001
/checkpoints/sentiment.ckpt.index
/checkpoints/sentiment.ckpt.meta
*.jpg\n*.jpeg\n*.png\n*.gif\n